
0.1/__pycache__
0.1/__pycache__/window.cpython-313.pyc
0.1/test.py
sources.txt
tutorial_picture.py
idle-version/0.1/bilder/biene-sprite-sheet.png
idle-version/0.1/bilder/biene-sprite-sheet_save.png
idle-version/0.1/bilder/honigtropfen.png
idle-version/0.1/bilder/varroa.png

